
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form" action="" lay-filter="searchForm">
                                <div class="layui-form-item">
                                    <div class="layui-form-item layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="text" name="txtSGoodsName" placeholder="请输入商品名称" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="text" name="txtSName" placeholder="请输入出库/入库人姓名" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-inline">
                                        <button class="layui-btn" lay-submit="" lay-filter="btnSearch">
                                            <i class="layui-icon layui-icon-search"></i>
                                            查询
                                        </button>
                                        <button type="reset" class="layui-btn">
                                            <i class="layui-icon layui-icon-refresh"></i>
                                            重置
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">

                        <table id="demo" lay-filter="test"></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--js模版表头工具栏-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="out">出库</button>
        <button class="layui-btn layui-btn-sm" lay-event="in">入库</button>
    </div>
</script>
<!--操作单元格-->
<script type="text/html" id="barDemo">
    {{# if(d.audit==0){ }}
    <a class="layui-btn layui-btn-xs" lay-event="audit">审核</a>
    {{# } }}
</script>


<script>
    layui.use(['table', 'form', 'util', 'layer'], function () {
        var table = layui.table;
        var util = layui.util;
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.jquery;
        //表格渲染
        table.render({
            elem: '#demo'
            , height: 525
            , url: '/repooutinrecord/getlistbysql' //数据接口
            , page: true//开启分页
            , toolbar: '#toolbarDemo'
            , cols: [[ //表头
                { field: 'goods_name', title: '商品名称', sort: true,  fixed: 'left' }
                , { field: 'name', title: '出库/入库人', sort: true }
                , { field: 'type', title: '出库/入库', sort: true, templet: function (d) { return d.type == 0 ? "入库" : "出库" } }
                , { field: 'start_number', title: '操作前库存数量', sort: true }
                , { field: 'oi_number', title: '出库/入库数量', sort: true }
                , { field: 'end_number', title: '操作后库存数量', sort: true }
                , { field: 'threshold', title: '阈值', sort: true }
                , { field: 'create_time', title: '操作时间', sort: true , templet: function (d) { return util.toDateString(d.create_time.replace("/Date(", "").replace(")/", ""), "yyyy-MM-dd HH:mm:ss") } }
                , { title: '审核', toolbar: '#barDemo', templet:'#barDemo' }
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });
        //行单击事件
        //删除应该同添加，同时删除出入库表，库存表和采购表
        //详情展示相应采购信息
        table.on('tool(test)', function (obj) {
            var id = obj.data.oi_id;
            console.log(obj)
           if (obj.event === 'audit') {
                $.post("/repogoodsstock/updatebyaudit", { repoGoodsStockDTO: obj.data }, function (res) {
                    if (res.code == 200)
                    {
                        table.reload('demo');
                        layer.msg("审核通过,库存已更新")
                    }
                })
            }
           
        });
        table.on('toolbar(test)', function (obj) {
            if (obj.event == "out") {
                layer.open({
                    title: '商品出库',
                    type: 2,
                    area: ['800px', '305px'],
                    content: '/repooutinrecord/outdetail'
                })
            }
            else if (obj.event == "in")
            {
                layer.open({
                    title: '商品入库',
                    type: 2,
                    area: ['800px', '460px'],
                    content: '/repooutinrecord/indetail'
                })
            }
        })
        //搜索工具栏
        form.on('submit(btnSearch)', function (data) {
            //表格重载 where 再加一个参数name
            console.log(data)
            table.reload('demo', {
                where: {
                    goods_name: data.field.txtSGoodsName,
                    name: data.field.txtSName,
                }
            })
             return false;
        });
    })
</script>






