
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form role="form" class="layui-form form-inline" lay-filter="editform">
            <div class="form-group">
                <input type="hidden" name="type" value="0" />
                <input type="hidden" id="hdid" name="id" value="0" />
                &emsp;&emsp;&emsp;  &emsp;&emsp;
                <div class="layui-inline">
                    <span>商品名称：</span>
                    <div class="layui-input-inline">
                        <input type="text" name="goods_name" id="searchName" lay-verify="required" placeholder="请输入商品名称" class="form-control" />
                    </div>
                </div>
            </div>
            &emsp;&emsp;&emsp;  &emsp;&emsp;
            <div class="form-group">
                入库人： &nbsp;&nbsp;&nbsp;<div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="outin_person_id" lay-verify="required" lay-search="" lay-filter="ddltest">
                            <option value=""></option>
                            @foreach (var item in ViewBag.list)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <br /> <br />
            <div class="form-group">
                &emsp;&emsp;&emsp;  &emsp;&emsp;
                入库数量：&nbsp;<input type="text" name="oi_number" lay-verify="required" placeholder="请输入入库数量" class="form-control">
            </div>

            <div class="form-group">
                &emsp;&emsp;&emsp;  &emsp;&emsp;
                采购商：&emsp;&nbsp;<input type="text" name="buyer" id="txtBuyer" lay-verify="required" placeholder="请输入采购商" class="form-control">
            </div>
            <br /> <br />
            &emsp;&emsp;&emsp;  &emsp;&emsp;
            <div class="form-group">
                采购电话：&nbsp;<input type="tel" name="buyer_phone" id="txtPhone" lay-verify="required" placeholder="请输入采购电话" class="form-control">
            </div>

            <div class="form-group">
                &emsp;&emsp;&emsp;  &emsp;&emsp;
                单价：&emsp;&emsp;&nbsp;<input type="text" name="price" placeholder="请输入商品单价" lay-verify="required" class="form-control">
            </div>
            <br /> <br />
            &emsp;&emsp;&emsp;  &emsp;&emsp;
            <div class="form-group">
                类型：&emsp;&emsp;&nbsp;<div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="goods_type" id="ddltype">
                            <option value=""></option>
                            <option value="1">备件</option>
                            <option value="2">生活用品</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                &emsp;&emsp;&emsp;  &emsp;&emsp;
                厂家：&emsp;&emsp;&nbsp;<input type="text" name="factory" id="txtFactory" lay-verify="required" placeholder="请输入厂家名称" class="form-control">
            </div>
            <br /><br />
            &emsp;&emsp;&emsp;  &emsp;&emsp;
            <div class="form-group">
                阈值：&emsp;&emsp;&nbsp;<input type="text" name="threshold" id="txtThreshold" lay-verify="required" placeholder="请输入阈值" class="form-control">
            </div>
            <div class="form-group">
                &emsp;&emsp;&emsp;  &emsp;&emsp;
                库存数量：&nbsp;<input type="text" name="goods_number" id="txtGoodsNumber" lay-verify="required" readonly="readonly" value="0" class="layui-disabled form-control">
            </div>
            <br /><br />
            &emsp;&emsp;&emsp;  &emsp;&emsp;
            <div class="form-group">
                上传图片：
                <button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>
                <button type="button" class="layui-btn" id="test9">上传</button>
                <input type="hidden" name="imgurl" id="hdimgurl" value="0"/>
            </div>
            <br /><br /><br />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;  &emsp;&emsp;&emsp;&emsp;
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                    <button type="reset" class="layui-btn" id="rebtn">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .layui-form-select .layui-input {
        padding-right: 30px;
        cursor: pointer;
        height: 34px;
        width: 196px;
    }

    .layui-form-selected dl {
        display: block;
        height: 120px;
    }
</style>
<!--自动补全js-->
<link href="~/assets/layui/css/autocomplete.css" rel="stylesheet" />
<script src="~/assets/layui/extra/autocomplete.js"></script>
<script>
    layui.use(['form','upload'], function () {
        var form = layui.form;
        var upload = layui.upload;
        var autocomplete = layui.autocomplete;
        form.on('submit(demo1)', function (data) {
            console.log(data)
            $.post("/repooutinrecord/add", { repoGoodsStockDTO: data.field }, function (res) {
                console.log(res)
                if (res.code == 200) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layui.table.reload("demo");
                    parent.layer.close(index);
                    parent.layer.msg("入库成功");
                }
            })
            return false;
        })
        //图片上传按钮渲染
        upload.render({
            elem: '#test8'
            , url: '/repooutinrecord/upload' //此处配置你自己的上传接口即可
            , auto: false
            //,multiple: true
            , bindAction: '#test9'
            , size: 1000
            //上传后的回调
            , done: function (res) {
                if (res.code == 200) {
                    console.log(res)
                    $("#hdimgurl").val(res.data)
                    layer.msg('上传成功');
                }
            }
        });

        //自动补齐
        autocomplete.render({
            elem: $('#searchName'),
            //进行缓存，每一次键入都发起新请求  true只发起一次请求
            cache: false,
            url: '/repogoodsstock/getlist?name=' + $("#searchName").val(),
            //绑定的val值字段，通常情况下绑定id
            template_val: '{{d.id}}',
            //绑定的内容
            template_txt: '<span class=\'autostyle layui-input\'>{{d.goods_name}}</span>',
            //事件：选中
            onselect: function (autores) {
                console.log(autores);
                $("#searchName").val(autores.goods_name)
                $("#hdid").val(autores.id)
                $("#test8").attr("class", "layui-btn layui-btn-normal layui-btn-disabled");
                $("#test9").attr("class", "layui-btn layui-btn-disabled");
                $("#txtThreshold").attr("class", "layui-disabled form-control").attr("readonly", "readonly");
                $("#txtFactory").attr("class", "layui-disabled form-control").attr("readonly", "readonly");
                $("#txtPicture").attr("class", "layui-disabled form-control").attr("readonly", "readonly");
                $.post("/repogoodsstock/getmodel", { id: autores.id }, function (res) {
                    form.val('editform', {
                        "goods_type": res.data.goods_type
                        , "threshold": res.data.threshold
                        , "factory": res.data.factory
                        , "goods_number": res.data.goods_number
                        , "picture": "商品已存在"
                    })
                })
            }
        });

    })
    $("#rebtn").click(function () {
        $("#txtFactory").attr("class", "form-control").removeAttr("readonly");
        $("#txtPicture").attr("class", "form-control").removeAttr("readonly");
        $("#txtThreshold").attr("class", "form-control").removeAttr("readonly");
        $("#test8").attr("class", "layui-btn layui-btn-normal");
        $("#test9").attr("class", "layui-btn");
    })
</script>


