
@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="scroll-container">
    <div class="layui-side">
        <ul class="layui-nav layui-nav-tree" lay-filter="side-menu">
            @foreach (var m in ViewBag.Roles)
            {
                <li class="layui-nav-item">
                    <a href="/SystemEmpPagesAdd/index?role=@m.is_leader">@m.role_name</a>
                </li>
            }
        </ul>
    </div>
</div>

