
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form role="form" class="layui-form form-inline" lay-filter="editform">
            <div class="form-group">
                <input type="hidden" name="id" />
                &emsp;&emsp;&emsp;  &emsp;&emsp;
                商品名称：<input type="text" name="goods_name" lay-verify="required" placeholder="请输入商品名称" class="form-control">
            </div>
            &emsp;&emsp;&emsp;  &emsp;&emsp;
            <div class="form-group">
                图片：<input type="text" name="picture" placeholder="请输入图片名" class="form-control layui-input">
            </div>
            <br /> <br />
            <div class="form-group">
                &emsp;&emsp;&emsp;  &emsp;&emsp;
                商品数量：<input type="text" name="goods_number" lay-verify="required" placeholder="请输入商品数量" class="form-control">
            </div>
            &emsp;&emsp;&emsp;  &emsp;&emsp;
            <div class="form-group">
                厂家：<input type="text" name="factory" placeholder="请输入厂家" class="form-control">
            </div>
            <br /> <br />
                   <div class="form-group">
                       &emsp;&emsp;&emsp;  &emsp;&emsp;
                       阈值：  &emsp;&nbsp;&nbsp;&nbsp;<input type="text" name="threshold" placeholder="请输入阈值" class="form-control">
                   </div>
            <br /> <br />
            <div class="layui-form-item">
                <div class="layui-input-block">
                    &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;  &emsp;&emsp;&emsp;&emsp;
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                    <button type="reset" class="layui-btn">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'util'], function (){
        var form = layui.form;
        var util = layui.util;
        var $ = layui.jquery;
        var id =@ViewBag.id;
        $.post("/repogoodsstock/getmodel", { id: id }, function (res) {
            if (res.code == 200) {
                res.data.create_time = util.toDateString(res.data.create_time.replace("/Date(", "").replace(")/", ""), "yyyy-MM-dd");
                form.val('editform', res.data);
            }
        })
        form.on('submit(demo1)', function (data) {
            if (id == 0) {
                $.post("/repogoodsstock/add", { repoGoodsStock: data.field }, function (res) {
                    console.log(res)
                    if (res.code == 200)
                    {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layui.table.reload("demo");
                        parent.layer.msg(res.msg);
                    }
                })
            }
            else
            {
                $.post("/repogoodsstock/update", { repoGoodsStock: data.field }, function (res) {
                    console.log(res)
                    if (res.code == 200) {
                        //找到父页面的自己  拿到index 让父页面关掉自己
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layui.table.reload("demo");//子窗体让父窗体table重载
                        parent.layer.msg(res.msg)
                    }
                })
            }
            return false;
        })
    })
</script>
