
@{
    ViewBag.Title = "GoodsStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <form class="layui-form" action="" lay-filter="searchForm">
                                <div class="layui-form-item">
                                    <div class="layui-form-item layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="text" name="txtSName" placeholder="请输入商品名称" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-inline">
                                        <div class="layui-input-inline">
                                            <select name="txtGType">
                                                <option value="">请选择</option>
                                                <option value="1">备件</option>
                                                <option value="2">生活用品</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-inline">
                                        <button class="layui-btn" lay-submit="" lay-filter="btnSearch">
                                            <i class="layui-icon layui-icon-search"></i>
                                            查询
                                        </button>
                                        <button type="reset" class="layui-btn">
                                            <i class="layui-icon layui-icon-refresh"></i>
                                            重置
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">

                        <table id="demo" lay-filter="test"></table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--操作单元格-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">采购详情</a>
</script>
<script>
    layui.use(['table', 'form', 'util', 'layer'], function () {
        var table = layui.table;
        var util = layui.util;
        var layer = layui.layer;
        var form = layui.form;
        //表格渲染
        table.render({
            elem: '#demo'
            , height: 522
            , url: '/repogoodsstock/getlistbypager' //数据接口
            , page: true//开启分页
            , toolbar: '#toolbarDemo'
            , cols: [[ //表头
                { field: 'goods_name', title: '商品名称', }
                , { field: 'goods_number', title: '商品库存数量' }
                , { field: 'threshold', title: '阈值' }
                , { field: 'factory', title: '工厂' }
                , {
                    field: 'imgurl', title: '图片',width:200, templet: function (d) {
                        return '<img src="' + d.imgurl + '" style="width:140px;height:30px" />';
                    }
}
                , { field: 'create_time', title: '创建时间', templet: function (d) { return util.toDateString(d.create_time.replace("/Date(", "").replace(")/", ""), "yyyy-MM-dd HH:mm:ss") } }
                , { field: 'update_time', title: '更新时间', templet: function (d) { return util.toDateString(d.update_time.replace("/Date(", "").replace(")/", ""), "yyyy-MM-dd HH:mm:ss") } }
                , { title: '操作', toolbar: '#barDemo' }
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });
        //行单击事件
        table.on('tool(test)', function (obj) {
            var id = obj.data.id;
            console.log(obj)
            if (obj.event === 'detail') {
                layer.open({
                    title: '采购详细信息',
                    type: 2,
                    area: ['800px', '578px'],
                    content: '/repobuy/detail/' + id
                })
            }
        });
        //搜索工具栏
        form.on('submit(btnSearch)', function (data) {
            //表格重载 where 再加一个参数name
            console.log(data)
            table.reload('demo', {
                where: {
                    goods_name: data.field.txtSName,
                    goods_type: data.field.txtGType
                }
            })
             return false;
        });
    })
</script>



