
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form role="form" class="form-inline">
            <div class="form-group">

                用户名：<input type="email" placeholder="请输入用户名" id="exampleInputEmail2" class="form-control">
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">

                密码：<input type="password" placeholder="请输入密码" id="exampleInputPassword2" class="form-control">
            </div>
            <br /> <br />
            <button class="btn btn-white" type="submit">登录</button>
        </form>
    </div>
</div>

