
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ibox float-e-margins">
    <form class="layui-form" lay-filter="empForm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">工作内容</label>
                <div class="layui-input-inline">
                    <input type="text" name="context" lay-verify="required" autocomplete="off" class="layui-input demo-phone">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">本次任务绩效</label>
                <div class="layui-input-inline">
                    <input type="text" name="performance" lay-verify="required" autocomplete="off" class="layui-input demo-phone">
                </div>
            </div>
        </div>
    </form>
    <script>
    layui.use(['form', 'util'], function () {
        var form = layui.form;
        var util = layui.util;
        var id =@ViewBag.Id;
        $.post("/EmployTasks/RepairByID", { id: id }, function (res) {
        if (res.code == 200) {
            form.val('empForm', {
                "context": res.data[0]["context"]
            })
        }
        })
        $.post("/EmployTasks/Perform", { id: id }, function (res) {
            console.log(res)
            if (res.code == 200) {
                form.val('empForm', {
                    "performance": formatNumber(res.data[0]["repair_up_money"])
                })
            }
        })
    })
    </script>
    </div>