
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-side" style="margin-top:50px">
    <ul class="layui-nav layui-nav-tree" lay-filter="side-menu">
        <li class="layui-nav-item">
            <a href="/EmployTasks/RepairTasks">维修任务</a>
        </li>
        <li class="layui-nav-item">
            <a href="/EmployTasks/UpKeepTasks">设备保养任务</a>
        </li>
    </ul>
</div>
