
@{
    ViewBag.Title = "UpKeepTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>个人保养任务</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                    </div>
                    <div class="layui-card-body">
                        <table id="demo" lay-filter="test"></table>
                    </div>
                    <div class="layui-card-body">
                        <span>保养任务历史记录</span>
                        <table id="demo1" lay-filter="test"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">二维码</a>
</script>
<script>
        layui.use(['table', 'util', "layer", "laytpl"], function () {
            var table = layui.table;
            var util = layui.util;
            var layer = layui.layer;
            var laytpl = layui.laytpl;
            table.render({
                elem: '#demo'
                , url: '/EmployTasks/UpKeep'
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , toolbar: '#toolbarDemo'
                , cols: [[
                    { field: 'people_name', title: '执行人姓名' }
                    , { field: 'name', title: '设备名称' }
                    , {
                        field: 'interval', title: '间隔', templet: function (d) {
                            return d.interval + "天"
                        }
                    }
                    , {
                        field: 'importance', title: '重要性', templet: function (d) {
                            return d.importance === 0 ? '重要' : '超级重要';
                        }
                    }
                    , {
                        field: 'upkeep_time', title: '保养生成时间', templet: function (d) {
                            return util.toDateString(d.upkeep_time.replace("/Date(", "").replace(")/", ""), "yyyy-MM-dd")
                        }
                    }
                    , { field: 'task_name', title: '保养任务名称' }
                    , { field: 'task_info', title: '保养任务细节' }
                    , {
                        field: 'status', title: '任务状态', templet: function (d) {
                            return d.status === 1 ? '已完成' : '未完成';
                        }
                    }
                    , { title: '操作', toolbar: "#barDemo" }
                ]]
            });

            table.on('tool(test)', function (obj) {

                var data = obj.data;
                var id = data.equ_plan_id;
                var equid = data.equ_id;
                console.log(data)
                if (obj.event === 'edit') {
                    // 显示弹出层
                    layer.open({
                        type: 2,
                        title: '详细信息',
                        content: `/EmployTasks/QRimg?planid=${id}&&equid=${equid}`,
                        area: ['480px', '500px']
                    });
                }
            });
        })

    </script>
<script>
    layui.use(['table', 'util', "layer", "laytpl"], function () {
        var table = layui.table;
        var util = layui.util;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        table.render({
            elem: '#demo1'
            , url: '/EmployTasks/UpKeepHistory'
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 200 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , toolbar: '#toolbarDemo'
            , cols: [[
                { field: 'people_name', title: '执行人姓名' }
                , { field: 'name', title: '设备名称' }
                , {
                    field: 'interval', title: '间隔', templet: function (d) {
                        return d.interval + "天"
                    }
                }
                , {
                    field: 'importance', title: '重要性', templet: function (d) {
                        return d.importance === 0 ? '重要' : '超级重要';
                    }
                }
                , {
                    field: 'upkeep_time', title: '保养生成时间', templet: function (d) {
                        return util.toDateString(d.upkeep_time.replace("/Date(", "").replace(")/", ""), "yyyy-MM-dd")
                    }
                }
                , { field: 'task_name', title: '保养任务名称' }
                , { field: 'task_info', title: '保养任务细节' }
                , {
                    field: 'status', title: '任务状态', templet: function (d) {
                        return d.status === 1 ? '已完成' : '未完成';
                    }
                }
            ]]
        });
    })

</script>

