
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="layui-form" action="" lay-filter="SystemLogForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input type="hidden" name="id" value="0" />
                    <label class="layui-form-label">设备名称</label>
                    <div class="layui-input-inline">
                        <select name="equip_id">
                            @foreach (var item in ViewBag.equipmentNames)
                            {
                                <option value="@item.id">@item.name</option>
                                
                            }
                        </select>
                        @*<input type="hidden" name="equip_id" lay-verify="required" autocomplete="off" class="layui-input demo-phone">*@
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">申报人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="fault_report"value="@ViewBag.UserName" lay-verify="required" autocomplete="off" class="layui-input demo-phone layui-disabled"  readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">故障描述</label>
                    <div class="layui-input-inline">
                        <input type="text" name="fault_describe" lay-verify="required" autocomplete="off" class="layui-input demo-phone">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">故障时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="fault_time" id="faulttime"placeholder="yyyy-MM-dd" lay-verify="required|date" autocomplete="off" class="layui-input demo-phone">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: auto;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }
</style>
<script>
    layui.use(['form', 'util','laydate'], function (){
        var form = layui.form;
        var util = layui.util;
        var $ = layui.jquery;
        var laydate = layui.laydate;
       
        laydate.render({
            elem: '#faulttime' 
        });
       
            var currentDate = new Date();
            var year = currentDate.getFullYear();
            var month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
            var day = ('0' + currentDate.getDate()).slice(-2);
            var formattedCurrentDate = year + '-' + month + '-' + day;
            // 将当前日期填充到创建时间输入框中
        document.getElementById('faulttime').value = formattedCurrentDate;
       
        form.on('submit(demo1)', function (data) {
                console.log(1)
                $.post("/faultapp/add", { faultapp: data.field }, function (res) {
                    console.log(res)
                    if (res.code == 200)
                    {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layui.table.reload("demo");
                        parent.layer.msg(res.msg);
                        parent.layer.close(index);
                    }
                })
            return false;
        })
    })
</script>
