
@{
    ViewBag.Title = "FaultAnalyseAudit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layui-container">
    <div class="table-responsive">
        <div class="table-responsive">

            <table id="demo" lay-filter="test"></table>

        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1" id="submit">通过</button>
        </div>
    </div>
</div>
<script>
    layui.use(['table'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var fault_app_id =@ViewBag.id;
        
        //表格渲染
        table.render({
            elem: '#demo'
            , height: 400
           
            , url: `/faultapp/GetAnalyseContents/${fault_app_id}` //数据接口
            , cols: [[
                  { type: 'checkbox' } 
                , { field: 'contents', title: '故障内容' }
                
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
        });
        $("#submit").click(function () {
            var checkStatus = table.checkStatus('demo');
            console.log(checkStatus)
            $.post("/FaultAnalyse/UpDateByAudit", { faultAnalyselist: checkStatus.data }, function (res) {
                if (res.code == 200) {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layui.table.reload("demo", {
                        where: { fault_app_id: fault_app_id }
                    });
                    parent.layer.msg("审核通过");
                    parent.layer.close(index);
                }
            })
        })

    })
</script>
