
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md-offset2 layui-col-md8">
                <!-- 第一个表单 -->
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">字段1</label>
                        <div class="layui-input-block">
                            <input type="text" name="field1" lay-verify="required" placeholder="请输入字段1" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!-- 其他表单项 -->
                    <!-- ... -->
                </form>

                <!-- 第二个表单 -->
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">字段1</label>
                        <div class="layui-input-block">
                            <input type="text" name="field1" lay-verify="required" placeholder="请输入字段1" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!-- 其他表单项 -->
                    <!-- ... -->
                </form>

                <!-- 第三个表单 -->
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">字段1</label>
                        <div class="layui-input-block">
                            <input type="text" name="field1" lay-verify="required" placeholder="请输入字段1" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <!-- 其他表单项 -->
                    <!-- ... -->
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/layui@2.6.8/layui.js"></script>
    <script>
        // 初始化layui
        layui.use('form', function () {
            var form = layui.form;

            // 表单渲染等操作
        });
    </script>
