
@{
    ViewBag.Title = "filedownload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="layui-form" name="movieform">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>设备对应文件</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table id="demo1" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>

</form>
<!--js模板  列组件-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="download">下载</a>
</script>
<!--js模板  表头组件-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <input type="button" class="layui-btn layui-btn-sm" lay-event="selectdown" value="设备文件批量下载">
    </div>
</script>

<script>
    //layui 注册多个模块
    layui.use(['table', 'util'], function () {
        //实例化多个模块
        var table = layui.table
        var util = layui.util
        var form = layui.form
        var id =@ViewBag.Id;
        //1.渲染实例
        table.render({
            elem: '#demo1'
            , height: 300
            , width: 600
            , url: '/equipment/Queryfile/' + id //数据接口
            , id: 'idTest'
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 200 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , page: {
                page: 1,
                limit: 9
            }//开启分页
            , toolbar: "#toolbarDemo"
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'file_path_name', title: '文件名' }
                , {
                    field: 'create_time', title: '上传时间', sort: true
                    , templet: function (d) {
                        return util.toDateString(d.create_time.replace("/Date(", "").replace(")/", ""), "yyyy-MM-dd")
                    }
                }
                , { title: '操作', toolbar: "#barDemo" }
            ]]
        });
        table.on('toolbar(test)', function (obj) {
            //获取选中行的数据
            var checkStatus = table.checkStatus('idTest'); //idTest 即为基础参数 id 对应的值
            console.log(checkStatus)
            let data = checkStatus.data
            console.log(data)
            var name = ""
            for (var item of data) {
                name += item.id
            }
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/equipment/downselectfile', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.responseType = 'blob';

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = xhr.response;

                    // 创建一个 URL 对象
                    var url = window.URL.createObjectURL(blob);

                    // 创建一个隐藏的<a>元素
                    var downloadLink = document.createElement('a');
                    downloadLink.href = url;
                    downloadLink.download = `${name}.zip`;

                    // 将<a>元素添加到页面中
                    document.body.appendChild(downloadLink);

                    // 模拟点击下载链接
                    downloadLink.click();

                    // 下载完成后释放 URL 对象
                    window.URL.revokeObjectURL(url);

                    // 移除<a>元素
                    document.body.removeChild(downloadLink);
                    var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                } else {
                    console.error('下载文件失败');
                }
            };

            xhr.onerror = function () {
                console.error('下载文件时发生错误');
            };
            xhr.send(JSON.stringify(data));
        });

        //2.单元格触发事件
        table.on('tool(test)', function (obj) {
            //获取选中行的数据
            var data = obj.data;
            console.log(data);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/equipment/downloading', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.responseType = 'blob';

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = xhr.response;

                    // 创建一个 URL 对象
                    var url = window.URL.createObjectURL(blob);

                    // 创建一个隐藏的<a>元素
                    var downloadLink = document.createElement('a');
                    downloadLink.href = url;
                    downloadLink.download = `${data.file_path_name}`;

                    // 将<a>元素添加到页面中
                    document.body.appendChild(downloadLink);

                    // 模拟点击下载链接
                    downloadLink.click();

                    // 下载完成后释放 URL 对象
                    window.URL.revokeObjectURL(url);

                    // 移除<a>元素
                    document.body.removeChild(downloadLink);
                } else {
                    console.error('下载文件失败');
                }
            };

            xhr.onerror = function () {
                console.error('下载文件时发生错误');
            };
            xhr.send(JSON.stringify(data));
        })
    })
</script>



