@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="layui-form" name="movieform">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>设备类型</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="menuTree">
                        </div>
                    </div>
                </div>

                <div class="ibox float-e-margins">
                    <div class="ibox-content" id="d">
                    </div>
                </div>

            </div>
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>设备表展示</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" name="txtequipmet" placeholder="请输关键词" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary" lay-submit="" lay-filter="btnsearch"> 搜索</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                设备类型:
                                <div class="layui-input-inline">
                                    <select name="e_type">
                                        <option value="0">请选择</option>
                                        @foreach (var item in ViewBag.EquipType)
                                        {
                                            <option value="@item.id">@item.type_name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="layui-inline">
                                    <label class="layui-form-label">日期</label>
                                    <div class="layui-inline" id="date" lay-key="7">
                                        <div class="layui-input-inline">
                                            <input type="text" autocomplete="off" id="test-startDate-1" class="layui-input" placeholder="开始日期" data-sider-insert-id="dc1cdd0b-385a-4a41-b57b-ad0bb11e690a" data-sider-select-id="c2e22566-aeb4-4f13-9c79-08f11a9f41cc">
                                        </div>
                                        -
                                        <div class="layui-input-inline">
                                            <input type="text" autocomplete="off" id="test-endDate-1" class="layui-input" placeholder="结束日期">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="demo" lay-filter="test"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--js模板  表头组件-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <input type="button" class="layui-btn layui-btn-sm" lay-event="selectdown" value="设备信息批量下载">
    </div>
</script>

<!--js模板  列组件-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  if(d.status==1){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="used">停用</a>
    {{# } }}
    {{#  if(d.status==0){ }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="use">启用</a>
    {{# } }}
    <a class="layui-btn layui-btn-xs layui-btn-xs" lay-event="upload">上传</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="download">下载</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="upkeep">保养</a>
</script>
<script>
    //树形组件加载
    let data1 = []
    let tid=0
    $.get('/equipment/getmenu', {}, function (res) {
        data1 = res;
        layui.use(['tree','table'], function () {
            var tree = layui.tree;
            tree.render({
                elem: '#menuTree',
                data: data1,
                height: 200,
                click: function (obj) {
                    var table = layui.table;
                    table.reload("demo", {
                        //获取文本款的值
                        where: {
                            //传参 文本框 设定异步数据接口参数外的值
                            tid: obj.data.id
                        }
                    })
                }
            });
        })
    })
    //layui 注册多个模块
    layui.use(['table', 'util', 'layer', 'form','laydate'], function () {
        //实例化多个模块
        var table = layui.table
        var layer = layui.layer
        var util = layui.util
        var form = layui.form
        var laydate=layui.laydate
        //渲染日历组件
        laydate.render({
            elem: '#date' //指定元素
            , range: true
            , theme: '#393D49'
            , done: function (value) {
                let dateStart,dateEnd
                if (value != "") {
                    dateStart=value.split(' - ')[0].trim()
                    dateEnd = value.split(' - ')[1].trim()
                }
                        table.reload("demo", {
                            //获取文本款的值
                            where: {
                                //传参 文本框 设定异步数据接口参数外的值
                                begintime: dateStart,
                                endtime: dateEnd
                            }
                        })
                }
        });
        //1.渲染实例
        table.render({
            elem: '#demo'
            , height: 660
            , url: '/equipment/Query' //数据接口
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 200 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , page: {
                page: 1,
                limit: 10
            }//开启分页
            , toolbar: "#toolbarDemo"
            , cols: [[ //表头
                //{ field: 'id', title: '主键', sort: true, fixed: 'left' }
                { field: 'name', title: '设备名称' }
                , { field: 'location', title: '位置' }
                , {
                    field: 'status', title: '运行状态', templet: function (d) {
                        return d.status==0?"未启用":"已启用"
                    } }
                , { field: 'power', title: '功率' }
                , {
                    field: 'usedtime', title: '投入使用时间', templet: function (d) {
                        return util.toDateString(d.usedtime.replace("/Date(", "").replace(")/", ""), "yyyy-MM-dd")
                    } }
                , { field: 'typename', title: '设备类型' }
                //添加操作列
                , { title: '操作', toolbar: "#barDemo" ,minWidth:313 }
            ]]
        });
        //2.单元格触发事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //得到当前行的主键
            let id = data.id;
            //判断点击的是那个按钮
            //删除
            if (obj.event == 'del') {
                //提示框  index 表示在那个页面上显示
                layer.confirm('真的删除行么', function (index) {
                    //点击确定
                    //调接口删除数据库数据
                    $.post("/equipment/delete", { id: id }, function (res) {
                        if (res.code == 200) {
                            //删除改行dom元素
                            obj.del();
                            layer.close(index);
                        }
                    })
                });
            }
            //停用
            else if (obj.event == 'used') {
                    //调接口删除数据库数据
                    $.post("/equipment/used", { id: id ,use:"used"}, function (res) {
                        if (res.code == 200) {
                            table.reload("demo")
                        }
                    })
            }
            //启用
            else if (obj.event == 'use') {
                    //调接口删除数据库数据
                $.post("/equipment/used", { id: id, use: "use" }, function (res) {
                        console.log(res)
                        if (res.code == 200) {
                            table.reload("demo")
                        }
                    })
            }
            //编辑
            else if (obj.event == "edit") {
                //弹出弹窗
                layer.open({
                    type: 2,
                    content: '/equipment/detail/' + id,
                    area: ['800px', '300px'],
                    //layer层销
                    end: function () {
                        table.reload("demo")
                    }
                });
            }
            //上传
            else if (obj.event == "upload") {
                console.log(obj.data.id)
                //弹出弹窗
                layer.open({
                    type: 2,
                    content: '/equipment/upload/'+obj.data.id,
                    area: ['700px', '350px'],
                });
            }
            //单个下载
            else if (obj.event == "download") {
                console.log(obj.data)
                //弹出弹窗
                layer.open({
                    type: 2,
                    content: '/equipment/filedownload/' + obj.data.id,
                    area: ['700px', '551px'],
                });
            }
            //保养信息
            else if (obj.event == "upkeep") {
                //弹出弹窗
                layer.open({
                    type: 2,
                    content: '/equipment/upkeep/' + obj.data.id,
                    area: ['1000px', '700px'],
                });
            }
        });
        //表头触发事件
        table.on('toolbar(test)', function (obj) {
            //添加
            if (obj.event == "add") {
                //弹出弹窗
                layer.open({
                    type: 2,
                    content: '/equipment/detail',
                    area: ['800px', '300px'],
                    //layer层销毁
                    end: function () {
                        table.reload("demo")
                    }
                });
                return false;
            }//批量下载
            else if (obj.event == "selectdown") {
                //弹出弹窗
                layer.open({
                    type: 2,
                    content: '/equipment/download',
                    area: ['1100px', '650px'],
                });
                return false;
            }
        });
        //搜索表单
        form.on('submit(btnsearch)', function (data) {
            console.log(data)
            //表格重载 调用movielist函数
            table.reload("demo", {
                //获取文本款的值
                where: {
                    //传参 文本框 设定异步数据接口参数外的值
                    name: data.field.txtequipmet,
                    e_type:data.field.e_type
                }
            })
            return false;
        })
    })
</script>


<style>
   #d{
       height:636px
   }
</style>