
@{
    ViewBag.Title = "MesHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="/assets/hplus/css/bootstrap.min.css?v=3.3.7" rel="stylesheet">
<link href="/assets/hplus/css/font-awesome.css?v=4.4.0" rel="stylesheet">
<link href="/assets/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/assets/hplus/css/animate.css" rel="stylesheet">
<link href="/assets/hplus/css/style.css?v=4.1.0" rel="stylesheet">


<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="/employmessage/meswrite">写信</a>
                        <div class="space-25"></div>
                        <h5>文件夹</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li>
                                <a href="/employmessage/mesindex"> <i class="fa fa-inbox"></i> 收件箱 <span class="label label-warning pull-right"></span> </a>
                            </li>

                            <li>
                                <a href="/employmessage/meshistory"> <i class="fa fa-certificate"></i> 历史记录</a>
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="搜索邮件标题，正文等">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                搜索
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    历史记录 
                </h2>

            </div>
            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <thead>
                        <tr>
                            <th><input class="cbx" type="checkbox" name="" id="cbxAll"></th>
                            <th>收件人</th>
                            <th>内容</th>
                            <th>链接</th>
                            <th>发送时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        init();
        var proxy = $.connection.EmpMessageService;


        proxy.client.getList = function (data) {
            var list = JSON.parse(data);

            $("#tb").empty();
            for (var item of list) {
                $("#tb").append(`<tr><td><input class='cbx' type='checkbox'/></td><td>${item.recipients_name}</td><td>${item.part}</td><td>${item.link}</td><td>${item.send_time}</td></tr>`);
            }
        }
        $.connection.hub.start();
    })

    //function getNumber() {
    //    $.get("/StudentInfo/GetNumber", function (res) {
    //        $("#spNumber").html(res);

    //    })
    //}
    function init() {
        $.get("/employmessage/sendList", function (res) {
            console.log(res);
            for (var item of res) {
                $("#tb").append(`<tr><td><input class='cbx' type='checkbox'/></td><td>${item.recipients_name}</td><td>${item.part}</td><td>${item.link}</td><td>${formatDate(item.send_time)}</td></tr>`);
            }
        })
    }
    function formatDate(timestamp) {
        const sendTime = new Date(parseInt(timestamp.replace("/Date(", "").replace(")/", ""), 10)); // 转换为整数，然后创建日期对象
        const year = sendTime.getFullYear(); // 获取年份
        const month = ("0" + (sendTime.getMonth() + 1)).slice(-2); // 获取月份，补零
        const day = ("0" + sendTime.getDate()).slice(-2); // 获取日期，补零
        return `${year}-${month}-${day}`; // 格式化为 yyyy-MM-dd
    }
</script>

