<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>母版页</title>
    <link href="/assets/hplus/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/hplus/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/hplus/css/animate.css" rel="stylesheet" />
    <link href="/assets/hplus/css/style.css" rel="stylesheet" />
    <link href="/assets/hplus/css/jquery.contextMenu.min.css" rel="stylesheet" />
    <link href="/assets/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/assets/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    <!-- 全局js -->
    <script src="/assets/hplus/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/hplus/js/bootstrap.min.js"></script>
    <script src="/assets/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/hplus/js/plugins/contextMenu/jquery.contextMenu.min.js"></script>
    <script src="~/assets/layui/layui.js"></script>
    <!-- 自定义js -->
    <script src="/assets/hplus/js/hplus.js"></script>
    @RenderBody()

</body>
</html>