
@{
    ViewBag.Title = "RepairReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>维修上报</h2>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="layui-form" action="" lay-filter="example">
            <div class="layui-form-item">
                <label class="layui-form-label">上报人</label>
                <div class="layui-input-block">
                    <!--上报人autocomplete-->
                    <select name="reporter_id" id="ddlid" disabled lay-search="" lay-filter="aihao">

                        @*<option value="@ViewBag.id">@ViewBag.name</option>*@

                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">维修地点</label>
                <div class="layui-input-block">
                    <input type="text" name="location" placeholder="请输入维修地点" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认人</label>
                <div class="layui-input-block">
                    <input type="text" name="confirmer" placeholder="请输入确认人姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-block">
                    <input type="text" name="start_time" class="layui-input" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-block">
                    <input type="text" name="end_time" class="layui-input" id="test6" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">维修内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入维修内容" class="layui-textarea" name="work_context"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                &emsp;&emsp;&nbsp;备件使用&emsp;&nbsp;
                <button type="button" id="selbtn" class="layui-btn layui-btn-sm layui-btn-normal">选择备件</button><br /><br />
                &emsp;&emsp;<span>已选备件</span>
                <div style="margin-left:25px">
                    <table class="layui-hide" id="demo" lay-filter="test"></table>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" id="rebtn" class="layui-btn">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .layui-form-label {
        width: 100px;
    }
</style>
