
@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="layui-form" action="" lay-filter="example">
            <table id="demo" lay-filter="test"></table>
        </form>
    </div>
</div>
<script>
    layui.use(['laydate', 'form', 'layer','table','util' ], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;
        var util = layui.util;
        var id=@ViewBag.app_id;//故障申请表ID
        //日期时间选择器
        table.render({
            elem: '#demo'
            , url: '/faultanalyse/votecheck/'+id
            , page: false
            , cols: [[
                { field: 'analyse_name', title: '分析人', sort: true, fixed: 'left' }
                , { field: 'contents', title: '分析内容' }
                , { field: 'vote', title: '分析情况', templet: function (d) { return d.vote==1?'已分析':'未分析' } }
               
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                console.log(res)
                return {
                    "code": 0,
                    "msg": res.msg,
                    "count": res.count,
                    "data": res.data
                };
            }
        })

    })
</script>
