
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form role="form" class="layui-form form-inline" lay-filter="roleForm">
            <div class="form-group">
                <input type="hidden" name="id" value="0" />
                &emsp;&emsp;&emsp;&emsp;
                角色名称:<input type="text" name="role_name" lay-verify="required" class="form-control">
            </div>
            &emsp;  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <div class="form-group">
                <div class="layui-inline">
                    <span>是否领导：</span>
                    <div class="layui-inline">
                        <input type="radio" name="is_leader" value="0" title="否" checked="">
                        <input type="radio" name="is_leader" value="1" title="是">
                    </div>
                </div>
            </div>
            <br /> <br />
            <div class="form-group">
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                底薪:<input type="text" name="salary" lay-verify="required" class="form-control">
            </div>
            &emsp;&emsp;&emsp;  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <div class="form-group">
                工时费:<input type="text" name="labor_hours" lay-verify="required" class="form-control">
            </div>
            <br /> <br />
            <div class="form-group">
                <div class="layui-input-block">
                    &emsp;&emsp;&emsp;  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        </div>
    </div>
        <script>
    layui.use(['form','util','layer'], function () {
        var form = layui.form;
        var util = layui.util;
        var layer = layui.layer;
        let id =@ViewBag.id;
        $.get("/EmployRole/getrolemodel", { id: id }, function (res) {
            if (res.code == 200) {
                console.log(res);
                form.val('roleForm', res.data);
            }
        });
        form.on('submit(demo1)', function (data) {
            //console.log(data.field);
            var obj = data.field;
            if (id == 0) {
                $.post("/EmployRole/Add", { employrole: obj }, function (res) {
                    //console.log(res);
                    //添加
                    if (res.code == 200) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layui.table.reload('demo');
                        parent.layui.layer.msg(res.msg);
                    }
                })

            } else
            {
                $.post("/EmployRole/update", { employrole: obj }, function (res) {
                    if (res.code == 200) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layui.table.reload('demo');
                        parent.layui.layer.msg(res.msg);
                    }
                })
            }
            return false;
        });
    });
        </script>

